
<style>
    .brandShowPage{
        text-align: center;
    }
    .image{
        margin-bottom: 60px;
    }
    .d-flex{
        align-items: center;
    }
    .input-group{
        height: 38px;
    }

    .title{
        margin: 20px 20px 5px;
    }
    .container-fluid{
        width: 90%;
        margin: auto;
    }
    .text-center{
        text-align: center;
    }
    .card-div{
        margin: 0;
    }
    @media screen and (max-width: 832px) {
        .brandImage{
            width: 100%;
            margin: auto;
        }
    }
</style>


    <h2><%= brand.name %> </h2>
    <div class="image">
        <img class="brandImage" src=<%= brand.brandImagePath %> alt="">
    </div>

    <div class="row g-2">
        <% productsByThisbrand.forEach(product =>{ %>
        <div class="col-lg-3 col-md-6 text-center card-div mt-3 mb-3">
        <div class="card h-100 text-center ">
                <h7 class="title"><%= product.title %></h7>
            <div class="card-body">
                <img src=<%= product.coverImagePath %>  alt="" class="card-img-top">
            <p>Price <%= product.price.toLocaleString('bn-BD') %> </p>
            <p><%= product.publishDate.toISOString().split('T')[0] %></p>
            </div>
            <div class="card-footer">
                <a href="/products/<%= product.id %> ">
                    <button type="button" class="btn btn-lg btn-primary w-100">viwe details</button>
                </a>
            </div>
        </div>
    </div>
    <% }); %>
    </div>

    <div class="row g-2">
        <% supplementsByThisbrand.forEach(supplement =>{ %>
        <div class="col-lg-3 col-md-6 text-center card-div mt-3 mb-3">
        <div class="card h-100 text-center ">
                <h7 class="title"><%= supplement.title %></h7>
            <div class="card-body">
                <img src=<%= supplement.coverImagePath %>  alt="" class="card-img-top">
            <p>Price <%= supplement.price %> Taka </p>
            </div>
            <div class="card-footer">
                <a href="/supplements/<%= supplement.id %> ">
                    <button type="button" class="btn btn-lg btn-primary w-100">viwe details</button>
                </a>
            </div>
        </div>
    </div>
    <% }); %>
    </div>



